@model SetPasswordViewModel

<div class="modal-dialog slow">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Set your password</h4>
        </div>
        <div class="modal-body">
            <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" id="formVal">
               
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NewPassword" class="form-control" id="passN" />
                        <span asp-validation-for="NewPassword" class="text-danger" ></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" id="passC" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="passSaveChanges">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(document).ready(function () {

        $.validator.unobtrusive.parse("#formVal");

    });
      $(function () {
            $("#passSaveChanges").click(function () {
                var passN = document.getElementById("passN").value;
                var passC = document.getElementById("passC").value;
                var email = document.getElementById("email").value;
                var model = { NewPassword: passN, ConfirmPassword: passC }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: { model ,email},
                    url: "/Manage/SetPassword",
                    success: function (data) {
                        if (data.result == "false")
                        {
                            
                        }
                        else
                        {
                            
                            var modal = $('.modal-dialog');
                            modal.find('.modal-body').html('');
                            modal.find('.modal-footer').html('');
                            modal.find('.modal-body').append("<h1 class='text-success'>İşlem Başarılı</h1>")
                            var delay = 1500;
                            setTimeout(function () { $('#modal').modal('hide'); }, delay);
                        }
                    },
                    error: function (err) {
                        alert("bilinmeyen bir hata oluştu!" + err);

                    }
                });
            });
        });
</script>