@using CmsCore.Admin.Helpers
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Form")">Formlar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Kapanış Mesajı</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <text>Closing Description</text>
                </div>
                <div class="form-group">
                    @Html.Raw(ViewBag.Form.ClosingDescription)<br />
                </div>
                <div class="portlet-title">
                    <text>Google Analytic Code</text>
                </div>
                <div class="form-group">
                    @Html.Raw(ViewBag.Form.GoogleAnalyticsCode)<br />
                </div>
            </div>
            <div class="form-group">
                <a asp-controller="FeedBack" asp-action="Index" class="btn btn-success">Back To Index</a>
            </div>
        </div>
    </div>
</div>
