@model CmsCore.Admin.Models.MediaViewModel

@{
    ViewData["Title"] = "Create File";
}
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">Dosya Yükle</span>
                </div>
            </div>

            <form enctype="multipart/form-data" id="modalForm" name="modalForm" method="post">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input type="text" asp-for="Title" class="form-control" tabindex="1" autofocus="autofocus" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input type="text" asp-for="Description" class="form-control" tabindex="2" />
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group input-large">
                                    <span class="input-group-addon btn default btn-file">
                                        <input type="file" id="FileName" name="uploadedFile">
                                    </span>
                                </div>
                                @Html.ValidationMessage("FileExist", new { @class = "text-danger" })
                                <span class="text-danger" asp-validation-for="FileName"></span>
                            </div>
                            <div class="clearfix margin-top-10">
                                <span class="label label-success">UYARI !</span> Dosyanın uzantısı <strong>.doc, .docx, .pdf, .rtf, .jpg, .gif</strong> ya da <strong>.png</strong> olmalıdır.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" tabindex="10" class="btn blue" id="modalSave">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $.validator.unobtrusive.parse("#formVal");  
        $("#modalSave").click(function () {
            var data = new FormData(document.getElementById("modalForm"));
            $.ajax({
                url: "/Media/ModalCreate",
                cache: false,
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.result == "false") {
                    }
                    else {
                        var modal = $('.modal');
                        modal.find('.modal-body').html('');
                        modal.find('.modal-footer').html('');
                        modal.find('.modal-body').append("<h1 class='text-success'>İşlem Başarılı</h1>")
                        var delay = 1000;
                        setTimeout(function () { $('.modal').modal('hide'); }, delay);
                        $('#Photo').val(data.result)
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 500) {
                        alert('Internal error: ' + jqXHR.responseText);
                    } else {
                        alert('Unexpected error.');
                    }
                }
            });
        });
        });
    
</script>